body{
    text-align: center;
    font-family: 'Courier New', Courier;
}

div{
    margin: 10px;
}

label{
    font-weight: 1000;
}

input{
    padding: 5px;
}

button{
    padding: 10px;
    background-color: #007BFF;
    color:white;
    border:none;
    width: 90px;
}
